.blog{
	min-height: 71px;
	width: 100%;
	background-color: #32344d;
	&__pagination{
		text-align: center;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			background-color: #47495f;
			width: 100%;
			height: 1px;
			left: 0;
			right: 0;
			top: 50%;
			bottom: 0;
		}
		ul{
			display: inline-block;
			height: 70px;
			position: relative;
			margin: 0;
			padding-left: 0;
			line-height: 70px;
			background-color: #32344d;
			li{
				display: inline-block;
				list-style-type: none;
				.-active{
					background-color: #a4b3ff;
					color: #29293e;
					font-weight: bold;
				}
				.-prev{
					padding-right: 30px;
					@media (max-width: $screen-xs-max) {
						padding-right: 10px;
					}
					i{
						font-size: 10px;
						border-radius: 50%;
						border: 1px #646578 solid;
						width: 22px;
						height: 22px;
						background-color: #232436;
						padding: 6px 6px 6px 4px;
					}
					&:hover{
						background: none;
						color: #515260;						
					}
				}
				.-next{
					padding-left: 30px;
					@media (max-width: $screen-xs-max) {
						padding-left: 10px;
					}
					i{
						font-size: 10px;
						border-radius: 50%;
						border: 1px #515260 solid;
						width: 22px;
						height: 22px;
						background-color: #232436;
						padding: 6px 4px 6px 6px;
					}
					&:hover{
						background: none;
						color: #515260;
					}
				}
				a{
					text-decoration: none;
					color: #c8c8c8;
					font-size: 14px;
					font-weight: bold;
					padding: 5px;
					@media (max-width: $screen-xs-max) {
						font-size: 10px;
					}
					@media (max-width: $screen-xs-min) {
						padding: 3px;
					}
					&:hover{
						background-color: #a4b3ff;
						color: #29293e;
						font-weight: bold;
						transition: all .3s;
						&:first-child{
							background-color: none;
						}
					}					
				}
			}
		}
	}
}