.search{
	&__group{
		position: relative;
		display: block;
	}
	input[type=text]{
		text-indent: 0;
		padding-left: 30px;
		padding-right: 10px;
		min-width: 100px;
	}
	&__btn{
		position: absolute;
		background: none;
		border: none;
		top: 0;
		left: 0;
		color: #494a57;
		height: 25px;
		width: 25px;
		text-align: center;
		outline: none;
		transition: all .3s;
		&:hover{
			color: #fff;
		}
	}
}