.support{
	&__text{
		position: relative;
		padding-top: 29px;
		padding-left: 30px;
		background-color: #32344d;
		width: 100%;
		@media (max-width: $screen-xs-max) {
			padding-left: 15px;
		}
		&:before{
			content: '';
			position: absolute;
			background-image: url('../images/polosa.png');
			background-repeat: repeat-x;
			width: 99%;
			left: 0;
			right: 0;
			top: 50%;
			opacity: .25;
			transform: translateY(-65%);
			bottom: 0;
			@media (max-width: $screen-xs-max) {
				position: absolute;
				top: 50%;
				transform: translateY(-70%);
				bottom: 0;
			}
			@media (max-width: $screen-xs-min) {
				position: absolute;
				top: 50%;
				transform: translateY(-80%);
				bottom: 0;
			}
		}
		h2{
			font-size: 15px;
			color: #fff;
			font-family: 'OpenSansBold';
			margin: 0;
			position: absolute;
			top: 18px;
			width: 150px;
			left: 0;
			padding-left: 30px;
			height: 21px;
			background-color: #32344d;
			@media (max-width: $screen-md-max) {
				top: 20px;
				width: 130px;
				padding-left: 15px;
				padding-top: 0;
			}
			@media (max-width: $screen-sm-max) {
				font-size: 12px;
				top: 20px;
				width: 110px;
				padding-left: 15px;
				padding-top: 2px;
			}
			@media (max-width: $screen-xs-max) {
				font-size: 12px;
				padding-left: 0;
				top: 13px;
				width: 120px;
				padding-left: 15px;
			}
			@media (max-width: $screen-xs-min) {
				font-size: 12px;
				padding-left: 0;
				top: 10px;
				width: 110px;
				padding-left: 15px;
			}
		}
		p{
			padding-top: 35px;
			padding-bottom: 30px;
			font-size: 15px;
			color: #8b8b98;
			font-family: 'OpenSansRegular';
			@media (max-width: $screen-xs-max) {
				font-size: 13px;
				padding-top: 15px;
				padding-right: 10px;
			}
		}
	}
	&__blog{
		padding: 30px;
		@media (max-width: $screen-sm-max) {
			padding: 15px;
		}
		span{
			font-size: 15px;
			color: #ffa030;
			font-family: 'OpenSansBold';
			@media (max-width: $screen-sm-max) {
				font-size: 12px;
			}
		}
		h3{
			font-size: 15px;
			color: #fff;
			font-family: 'OpenSansBold';
			@media (max-width: $screen-sm-max) {
				font-size: 12px;
			}
		}
		p{
			font-size: 15px;
			color: #c2c2ca;
			font-family: 'OpenSansRegular';
			a{
				color: #a4b3ff;
			}
			@media (max-width: $screen-sm-max) {
				font-size: 12px;
			}
		}
	}
	&__form{
		background-color: #32344d;
		padding: 30px;
		padding-bottom: 50px;
		@media (max-width: $screen-sm-max) {
			padding: 15px;
			padding-bottom: 20px;
		}
		h3{
			font-size: 15px;
			color: #fff;
			font-family: 'OpenSansBold';
			margin-top: 0;
			@media (max-width: $screen-sm-max) {
				font-size: 12px;
			}
		}
		p{
			font-size: 15px;
			color: #c2c2ca;
			font-family: 'OpenSansRegular';
			a{
				color: #a4b3ff;
			}
			@media (max-width: $screen-sm-max) {
				font-size: 12px;
			}
		}
		form{
			padding-bottom: 30px;
			textarea{
				max-width: 100%;
				padding: 10px;
				border: 1px #47495f solid;
				border-radius: 2px;
				background-color: #1C1D2D;
				outline: none;
				font-size: 15px;
				font-family: 'OpenSansRegular';
				@media (max-width: $screen-sm-max) {
					font-size: 12px;
				}
			}
			input{
				max-width: 35%;
				display: inline-block;
				margin-top: 10px;
				margin-right: 20px;
				@media (max-width: $screen-sm-max) {
					display: block;
					max-width: 100%;
					font-size: 12px;
				}
			}
			button{
				display: inline-block;
				float: right;
				margin-top: 10px;
				border: 1px #ffa030 solid;
				border-radius: 2px;
				background-color: #32344d;
				width: 145px;
				height: 27px;
				outline: none;
				font-size: 11px;
				color: #ffa030;
				font-family: 'OpenSansRegular';
				@media (max-width: $screen-sm-max) {					
					float: none;
				}
			}
		}
	}
}